<h1>Listing articles</h1>

<%= link_to 'New article', new_article_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <div class="3lift_div">
        <script src="//ib.3lift.com/ttj?inv_code=macrumors_forum_infeed"></script>
      </div>
    </tr>
  <% end %>
</table>